/node_modules

/public/mix-manifest.json
/public/favicons
/public/css
/public/assets
/public/fonts
/public/images
/public/js
/public/storage

/storage/*.key
/vendor
/.idea
/.vscode

npm-debug.log
yarn-error.log
.env
.env.testing

coverage

resources/lang/terms.json
resources/lang/terms.po

bootstrap/cache/*
!bootstrap/cache/.gitkeep

.phpunit.result.cache